@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-top: 47px;
    margin-left: 42px;
}

.menu {
    color: #17233D;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.875px;
    margin-right: 32px;
    cursor: pointer;

}

#botao1 {
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    width: 124px;
    height: 51px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 1px;
    cursor: pointer;

}

img {
    margin: 163px 0 0 123px;
    display: inline-block;
}

div {
    margin-left: 85px;
    width: 493px;
    display: inline-block
}

h1 {
    color: #161A49;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596px;
}

p {
    color: #4B505A;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    margin-top: 47px;
    margin-bottom: 55px;
}

#botao2 {
    color: #6FBF44;
    font-size: 18px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    background: transparent;
}

@media screen and (max-width: 900px) {
    img {
        margin-top: 50px;
        margin-left: 0px;
        display: inline-block;

    }
    div {
        margin-left: 50px;
        width: 493px;
        display: inline-block
    }
    header {
        margin-top: 47px;
        margin-left: 42px;
        width: 150%;
    }
    .menu {
        color: #17233D;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.875px;
        margin-right: 20px;
        cursor: pointer;
    }
    
}